HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
identity-service/src/main/resources/private-key.json
.env
docker.env
*.txt
*.md
build_image.bat
build_image.ps1
build_gradle.bat
build_gradle.ps1
push_hub.bat
Jenkinsfile
./deploy.compose.yaml

judge0/judge0
ai-service/intellab_ai
/identity-service/gcp.env
./identity-service/gcp.env
